name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
      - name: Install, test, build
        run: |
          npm ci
          npm test
          npm run-script build
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: distribution
          path: dist/voyantjs.js
          if-no-files-found: error
          overwrite: true
