name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:  
  id-token: write # required for OIDC
  contents: write # required to publish release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - name: Install, test, and build
        run: |
          npm ci
          npm test
          npm run-script build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run-script semantic-release
