name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - master

permissions:
  id-token: write # required for OIDC
  contents: read # required for semantic release checkout

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - name: Replace ssh with https # see: https://github.com/actions/setup-node/issues/214#issuecomment-810829250
        run: >
          git config --global url."https://github.com/".insteadOf
          ssh://git@github.com/
      - name: Install, test, and build
        run: |
          npm ci
          npm test
          npm run-script build
      # - name: Archive code coverage results
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: code-coverage-report
      #     path: coverage
      # - name: Archive distribution file
      #   uses: actions/upload-artifact@v2
      #   with:
      #     name: distribution
      #     path: dist/voyantjs.js
      - name: Upload coverage report
        uses: codecov/codecov-action@v2
        with:
          directory: coverage
          name: codecov-umbrella
          #fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
      - name: Semantic release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: npm run-script semantic-release
